{% extends 'base.html.twig' %}
{% block content %}
<div class="container text-center situation_pro tab step" id="12-content">
  <div class="row" id="bank">
    <div class="title">
      <h2 class="fw-light">
        Ma banque
      </h2>
    </div>
    {{ form_start(form) }}
    <div class="row mx-0 step1_1A_project conso_label">
      <!-- banque - début -->
      <div class="col-md-12 col-sm-12">
        {{ form_row(form.bankType) }}
      </div>
      <!-- banque - fin -->
      <!-- agence - début -->
      <div class="col-md-12 col-sm-12">
        {{ form_row(form.bankCardType) }}
      </div>
      <!-- agence - fin -->
      <!-- année banque - début -->
      <div class="col-md-12 col-sm-12" style="width: 100%;">
        {{ form_row(form.yearBank) }}
      </div>
      <!-- année banque - fin -->
    </div>
    <div class="btnForm">
      <div>
        {{ form_widget(form.previous) }}
        {{ form_widget(form.next) }}
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
