{% extends 'base.html.twig' %}
{% block content %}
<div class="container text-center situation_pro tab step" id="8-content">
  <div class="row" id="charge">
    <div class="title">
      <h2 class="fw-light">
        Les charges du foyer
      </h2>
    </div>
    {{ form_start(form) }}
    <div class="step1_1A_project conso_label row">
      <!-- mensualite conso - debut -->
      <div class="col-md-12 col-sm-12 revenu">
        {{ form_row(form.totalMensualitesCreditConso) }}
        <p class="helpConso">Indiquez le total de toutes vos mensualités conso y compris pour vos crédits renouvelables.</p>
      </div>
      <!-- mensualite conso - fin -->
      <!-- mensualite immo - debut -->
      <div class="col-md-12 col-sm-12 revenu">
        {{ form_row(form.totalImmoCreditConso) }}
        <p class="helpConso">Total des mensualités immobilier y compris Prêt à taux zéro.</p>
      </div>
      <!-- mensualite immo - fin -->
      <!-- loyer - debut -->
      <div class="col-md-12 col-sm-12 revenu">
        {{ form_row(form.rent) }}
        <p class="helpConso">Saisir le montant de vos loyers.</p>
      </div>
      <!-- loyer - fin -->
    </div>
    <div class="btnForm">
      <div>
        {{ form_widget(form.previous) }}
        {{ form_widget(form.next) }}
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
