{% extends 'base.html.twig' %}
{% block content %}
<div class="container text-center situation_pro tab step" id="15-content">
  <div class="row" id="contactDetails">
    <div class="title">
      <h2 class="fw-light">
        Mes coordonnées
      </h2>
    </div>
    {{ form_start(form) }}
    <div class="row mx-0 step1_1A_project">
      <div class="col-md-12 col-sm-12 alignRow">
        {{ form_row(form.address) }}
        {{ form_row(form.phone1) }}
      </div>
      <div class="col-md-12 col-sm-12 alignRow">
        {{ form_row(form.phone2) }}
        {{ form_row(form.email) }}
      </div>
      <div class="col-md-12 col-sm-12 alignRow">
        {{ form_row(form.zipCode) }}
        {{ form_row(form.city) }}
      </div>
      <div class="col-md-12 col-sm-12 checkboxInput">
        {{ form_row(form.hasOption) }}
      </div>
    </div>
    <div class="btnForm">
      <div>
        <button type="button" class="btnPrev">Précédent</button>
        {{ form_widget(form.submit) }}
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
