{% extends 'base.html.twig' %}
{% block content %}
<div class="container text-center situation_pro tab step" id="4-content">
  <div class="row" id="subStepProjectRevolvingCredit">
    <div class="title">
      <h2 class="fw-light">
        Mon crédit pour financer mon projet
      </h2>
    </div>
    {{ form_start(form) }}
    <div class="row mx-0 step1_1A_project conso_label">
      {{ form_row(form.amount) }}
      {{ form_row(form.duration) }}
      {{ form_row(form.fundsDelay) }}
      {{ form_row(form.level) }}
      {{ form_row(form.assurance) }}
    </div>
    <div class="btnForm">
      <div>
        <button type="button" class="btnPrev">Précédent</button>
        {{ form_widget(form.submit) }}
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
