{% extends 'base.html.twig' %}
{% block content %}
<div class="container text-center situation_pro tab step" id="13-content">
  <div class="row" id="maritalStatus">
    <div class="title">
      <h2 class="fw-light">
        Mon état civil
      </h2>
    </div>
    {{ form_start(form) }}
    <div class="row mx-0 step1_1A_project etatCivil ">
      {{ form_row(form.civilityGender) }}
      {{ form_row(form.civilityLastname) }}
      {{ form_row(form.civilityFirstname) }}
      {{ form_row(form.civilityNationality) }}
      {{ form_row(form.civilityCity) }}
      {{ form_row(form.civilityBirthDate) }}
    </div>
    <div class="btnForm">
      <div>
        <button type="button" class="btnPrev">Précédent</button>
        {{ form_widget(form.submit) }}
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
