{% extends 'base.html.twig' %}
{% block content %}
<div class="container text-center situation_pro tab subStepCoBorrower step" id="14-content">
  <div class="row" id="coMaritalStatus">
    <div class="title">
      <h2 class="fw-light">
        Mon état civil co-emprunteur
      </h2>
    </div>
    {{ form_start(form) }}
    <div class="row mx-0 step1_1A_project etatCivilCo">
      {{ form_row(form.civilityGenderCo) }}
      {{ form_row(form.civilityLastnameCo) }}
      {{ form_row(form.civilityFirstnameCo) }}
      {{ form_row(form.civilityNationalityCo) }}
      {{ form_row(form.civilityCityCo) }}
      {{ form_row(form.civilityBirthDateCo) }}
    </div>
    <div class="btnForm">
      <div>
        <button type="button" class="btnPrev">Précédent</button>
        {{ form_widget(form.submit) }}
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
