{% extends 'base.html.twig' %}
{% block content %}
<div class="container text-center situation_pro tab step" id="7-content">
  <div class="row" id="otherRevenu">
    <div class="title">
      <h2 class="fw-light">
        Autres revenus
      </h2>
    </div>
    {{ form_start(form) }}
    <div class="step1_1A_project conso_label row">
      {{ form_row(form.rentalIncome) }}
      {{ form_row(form.otherHouseholdIncome) }}
      {{ form_row(form.benefitAmount) }}
    </div>
    <div class="btnForm">
      <div>
        <button type="button" class="btnPrev">Précédent</button>
        {{ form_widget(form.submit) }}
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
