{% extends 'base.html.twig' %}
{% block content %}
<div class="container text-center situation_pro tab step" id="1-content">
  <div class="row" id="subStepProjectCar">
    <div class="title">
      <h2 class="fw-light">
        Mon projet auto
      </h2>
    </div>
    {{ form_start(form) }}
    <div class="step1_1A_project row">
      {{ form_row(form.carType) }}
      {{ form_row(form.carState) }}
      {{ form_row(form.carBrand) }}
    </div>
    <div class="btnForm">
      <div>
        <button type="button" class="btnPrev">Précédent</button>
        {{ form_widget(form.submit) }}
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
