{% extends 'base.html.twig' %}
{% block content %}
<div class="container text-center situation_pro tab step" id="5-content">
  <div class="row" id="situation">
    <div class="title">
      <h2 class="fw-light">
        Ma situation personnelle
      </h2>
    </div>
    {{ form_start(form) }}
    <div class="row step1_1A_project">
      {{ form_row(form.maritalStatus) }}
      {{ form_row(form.daySituation) }}
      {{ form_row(form.monthSituation) }}
      {{ form_row(form.yearSituation) }}
      {{ form_row(form.enfant) }}
    </div>
    <div class="btnForm">
      <div>
        <button type="button" class="btnPrev">Précédent</button>
        <button type="submit" class="btnNext">Suivant</button>
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
