{% extends 'base.html.twig' %}
{% block content %}
<div class="container text-center situation_pro tab step" id="9-content">
  <div class="row" id="situationProfessional">
    <div class="title">
      <h2 class="fw-light">
        Votre situation professionnelle
      </h2>
    </div>
    {{ form_start(form) }}
    <div class="row step1_1A_project conso_label">
      {{ form_row(form.professionalSector) }}
      {{ form_row(form.professionalType) }}
      {{ form_row(form.professionalContractType) }}
      {{ form_row(form.profession) }}
      {{ form_row(form.daySecteur) }}
      {{ form_row(form.monthSecteur) }}
      {{ form_row(form.yearSecteur) }}
    </div>
    <div class="btnForm">
      <div>
        <button type="button" class="btnPrev">Précédent</button>
        <button type="submit" class="btnNext">Suivant</button>
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
